body {
	font-family: serif;
}
div#page {
	background-color:#EEEEEE;
	text-align: center;
	margin:0;
	padding:0;
	max-width:300px;
	height:400px;
	position:relative;
}

.name-of-game{
	margin:0;
	padding:0;
	background-color: #555555;
	display:block;
	width:100%;
	height:40px;
	color:#FFFFFF;
	font-size:20pt;
	vertical-align: middle;
}

.header-of-screen{
	margin:0;
	padding:0;
	margin-top: 20px;
	margin-bottom: 20px;
	color:#555555;
	font-size: 18pt;
}

.navigation_button{
	border:none;
	background-color:#555555;
	color:#FFFFFF;
	width:200px;
	height:35px;
	margin:0 auto;
	margin-bottom:15px;
	font-size:14pt;
	padding-top:10px;
}

.back_button{
	border:none;
	background-color:#555555;
	color:#FFFFFF;
	width:60px;
	height:25px;
	font-size:12pt;
	position:absolute;
	bottom:0;
	left:0;
	padding-top:5px;
}
.btn{
	display:inline-block;
	text-decoration: none;
}
.btn:hover{
	cursor:default;
}

input{
	border:1px solid #AAAAAA;
	border-radius:5px;
	background-color:#CCCCCC;
	width:188px;
	height:30px;
	font-size:12pt;
	color:#000000;
	margin-bottom:10px;
	padding-left:10px;
	font-weight:bold;
}

.reg-login{
	border:none;
	border-radius: 0;
	background-color:#555555;
	color:#FFFFFF;
	width:200px;
	height:40px;
	font-size:12pt;
}

.alert{
	position:absolute;
	width:100%;
	height:40px;
	top: 0;
	background-color:#CCCCCC;
	color:#000000;
	font-size:10pt;
	display:none;
}

.toolbar{
	position: absolute;
	margin:0;
	width:100%;
	height:20px;
	background-color:#888888;
	/*display:none;*/
	top:40px;
}
.toolbar__tools{
	display:inline;
	padding:0;
	margin:0;
	list-style: none;
	width:100%;
	display:block;
}
.toolbar__tools li{
	display:inline;
}
.toolbar__button{
	color:#FFFFFF;
	font-size: 12px;
}
.toolbar__tools__profile{
	width:80%;
}
.toolbar__tools__logout{
	width:20%;
}