body {
  font-family: serif;
  padding:0;
  margin:0;
}
/*Screen*/
.screen {
  background-color:#EEEEEE;
  text-align: center;
  margin:0 auto;
  padding:0;
  max-width:100%;
  height:600px;
  position:relative;
}
.screen__header{
  margin:20px 0;
  padding:0;
  color:#555555;
  font-size: 18pt;
}
.screen__main,
.screen__game,
.screen__login,
.screen__registration,
.screen__scoreboard,
.screen__game,
.screen__profile {
  display:none;
}
/*Toolbar*/
.screen__toolbar{
  margin:0;
  width:100%;
  height:40px;
  position:relative;
}
.screen__toolbar__name{
  margin:0;
  padding:0;
  background-color: #555555;
  display:block;
  width:100%;
  height:100%;
  color:#FFFFFF;
  font-size:22pt;
  vertical-align: middle;
}
.screen__toolbar__profile,
.screen__toolbar__logout{
  position:absolute;
  width:25%;
  height:35px;
  padding-top:5px;
  background-color:#888888;
  color:#FFFFFF;
  font-size: 16pt;
}
.screen__toolbar__profile{
  left:0;
}
.screen__toolbar__logout{
  right:0;
}
/*Scoreboard*/
.screen__scoreboard__table{
  text-align: left;
  font-weight: bold;
  color:#555555;
  margin:0 auto;
  padding:0;
  border-collapse: collapse;
}
.screen__scoreboard__table td,
.screen__scoreboard__table th{
  padding-left:30px;
}
.screen__scoreboard__table td:first-child,
.screen__scoreboard__table th:first-child{
  padding-left:0px;
}
.screen__scoreboard__table th{
  border-bottom:1px solid #555555;
}
/*Profile*/
.screen__profile__info {
  list-style: none;
  font-size: 16pt;
  font-weight: bold;
  color: #555555;
  text-align: left;
}
/*A=Button*/
.btn{
  display:inline-block;
  text-decoration: none;
}
.btn:hover{
  cursor:default;
}
/*Main*/
.screen__main__btn{
  border:none;
  background-color:#555555;
  color:#FFFFFF;
  width:200px;
  height:35px;
  margin:0 auto;
  margin-bottom:15px;
  font-size:14pt;
  padding-top:10px;
}
/*Forms*/
.screen__login__form__input,
.screen__registration__form__input{
  border:1px solid #AAAAAA;
  border-radius:5px;
  background-color:#CCCCCC;
  width:188px;
  height:30px;
  font-size:12pt;
  color:#000000;
  margin-bottom:10px;
  padding-left:10px;
  font-weight:bold;
}
.screen__login__form__input.invalid,
.screen__registration__form__input.invalid{
  border-color:#B22222;
  box-shadow:0 0 5px #B22222;
}
label.invalid{
  font-style: italic;
  color:#B22222;
}
.screen__login__form__input.valid,
.screen__registration__form__input.valid{
  border-color:#3CB371;
  box-shadow:0 0 5px #3CB371;
}
label.valid{
  color:#3CB371;
}
.screen__login__form__input:focus,
.screen__registration__form__input:focus{
  border-color:#1E90FF;
  box-shadow:0 0 5px #1E90FF;
}

.screen__login__form__btn,
.screen__registration__form__btn{
  border:none;
  border-radius: 0;
  background-color:#555555;
  color:#FFFFFF;
  width:200px;
  height:40px;
  font-size:12pt;
}

.screen__alert{
  position:absolute;
  width:100%;
  height:30px;
  padding-top:10px;
  top: 0;
  background-color:#CCCCCC;
  color:#555555;
  font-size:12pt;
  font-weight:bold;
  display:none;
}

.loading {
    position: absolute;
    left: 35%;
    top: 30%;
    width: 400px;
    height: 200px;
    z-index: 100;
}